<section class="bg-white border-b pt-8 pb-32">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
            Convênios
        </h1>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="w-full flex justify-center items-center">
            <img class="w-72" src="assets/images/convenios/premium-saude.png" alt="Premium Saúde Convênio"/>
        </div>
    </div>
</section>