<section id="servicos" class="bg-white border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">
      <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
        Serviços
      </h1>
      <div class="w-full mb-12">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
      </div>

      <div class="flex flex-wrap flex-col-reverse sm:flex-row">
        <div class="w-full sm:w-1/2 p-6 mt-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/pilates.jpg" alt="Pilates"/>
        </div>
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Pilates Solo e Aparelhos
            </h3>
            <p class="text-gray-600 mb-8">
              O pilates busca o controle do músculos do corpo, fortalecendo a musculatura e melhorando o tônus. Entre seus benefícios, destacamos a melhora da postura, flexibilidade, mobilidade articular e o alívio de tensões.
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Liberação Miofascial
            </h3>
            <p class="text-gray-600 mb-8">
              A liberação miofascial é um procedimento que visa amenizar as dores musculares causadas por tensão. Por meio de pressão sobre o local da dor, realizada manualmente ou com o aporte de rolos, a terapia previne lesões e contribui para o tratamento de graves patologias musculoesqueléticas.            </p>
          </div>
        </div>
        <div class="w-full sm:w-1/2 p-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/miofascial.jpg" alt="Liberação Miofascial"/>
        </div>
      </div>

      <div class="flex flex-wrap flex-col-reverse sm:flex-row">
        <div class="w-full sm:w-1/2 p-6 mt-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/fisio.jpg" alt="Fisioterapia Pré e Pós Operatório"/>
        </div>
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Fisioterapia Pré e Pós Operatório
            </h3>
            <p class="text-gray-600 mb-8">
              Por meio da fisioterapia pré e pós-cirúrgica, podemos minimizar as queixas e aperfeiçoar os resultados da cirurgia, diminuindo o desconforto e os traumas ao paciente.              
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Fisioterapia domiciliar
            </h3>
            <p class="text-gray-600 mb-8">
              A fisioterapia domiciliar permite ao profissional atender, tratar e reabilitar o paciente em sua própria residência, respeitando suas necessidades e condições patológicas. Esse um ótimo recurso para quem tem algum tipo de dificuldade de deslocamento.
            </p>       
          </div>
        </div>
        <div class="w-full sm:w-1/2 p-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/home.webp" alt="Fisioterapia domiciliar"/>
        </div>
      </div>

      <div class="flex flex-wrap flex-col-reverse sm:flex-row">
        <div class="w-full sm:w-1/2 p-6 mt-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/fisioterapia-pelvica.webp" alt="Fisioterapia Pélvica"/>
        </div>
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Fisioterapia Pélvica
            </h3>
            <div class="text-gray-600 mb-8">
              <p>Atendimentos individuais destinados ao público feminino para tratar os seguintes casos:</p>
              <ul class="unordered-list">
                <li>Disfunções miccionais: incontinência urinária (escapes ou perda de xixi), bexiga hiperativa (desejo repentino de urinar), retenção urinária (dificuldade em urinar);</li>
                <li>Disfunções anorretais: constipação, incontinência fecal (escapes de gases ou conteúdo fecal);</li>
                <li>Auxílio na preparação e reabilitação de cirurgias pélvicas;</li>
                <li>Diástase abdominal;</li>
                <li>Preparo para o parto e reabilitações pós-parto;</li>
                <li>Prolapsos de órgãos pélvicos (bexiga caída); </li>
                <li>Disfunções sexuais femininas (desconforto ou dor na região íntima);</li>
                <li>Tratamento de sinais e sintomas da endometriose e adenomiose. </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Low Pressure Fitness (LPF) 
            </h3>
            <div class="text-gray-600 mb-8">
              <p>Também conhecido como a técnica da barriga negativa, consiste em um sistema de treinamento postural e respiratório. Além disso, o método compreende a mobilização neuro miofascial, exercícios neurodinâmicos, reeducação postural e o conceito hipopressivo.</p>
              <p>Benefícios do método: </p>
              <ul class="unordered-list">
                <li>Redução da circunferência abdominal;</li>
                <li>Fortalecimento do assoalho pélvico e prevenção/tratamento para a Incontinência urinária;</li>
                <li>Melhora o desempenho sexual;</li>
                <li>Auxilia na gestação e na recuperação do parto;</li>
                <li>Aumento da capacidade respiratória;</li>
                <li>Reduz o estresse;</li>
                <li>Melhora o funcionamento do intestino.</li>
              </ul>
            </div>       
          </div>
        </div>
        <div class="w-full sm:w-1/2 p-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/lpf.webp" alt="Fisioterapia domiciliar"/>
        </div>
      </div>
    </div>
</section>