<section id="servicos" class="bg-white border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">
      <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
        Serviços
      </h1>
      <div class="w-full mb-12">
        <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
      </div>

      <div class="flex flex-wrap flex-col-reverse sm:flex-row">
        <div class="w-full sm:w-1/2 p-6 mt-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/pilates.jpg" alt="Pilates"/>
        </div>
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Pilates Solo e Aparelhos
            </h3>
            <p class="text-gray-600 mb-8">
              O pilates busca o controle do músculos do corpo, fortalecendo a musculatura e melhorando o tônus. Entre seus benefícios, destacamos a melhora da postura, flexibilidade, mobilidade articular e o alívio de tensões.
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Liberação Miofascial
            </h3>
            <p class="text-gray-600 mb-8">
              A liberação miofascial é um procedimento que visa amenizar as dores musculares causadas por tensão. Por meio de pressão sobre o local da dor, realizada manualmente ou com o aporte de rolos, a terapia previne lesões e contribui para o tratamento de graves patologias musculoesqueléticas.            </p>
          </div>
        </div>
        <div class="w-full sm:w-1/2 p-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/miofascial.jpg" alt="Liberação Miofascial"/>
        </div>
      </div>

      <div class="flex flex-wrap flex-col-reverse sm:flex-row">
        <div class="w-full sm:w-1/2 p-6 mt-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/fisio.jpg" alt="Fisioterapia Pré e Pós Operatório"/>
        </div>
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Fisioterapia Pré e Pós Operatório
            </h3>
            <p class="text-gray-600 mb-8">
              Por meio da fisioterapia pré e pós-cirúrgica, podemos minimizar as queixas e aperfeiçoar os resultados da cirurgia, diminuindo o desconforto e os traumas ao paciente.              
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Fisioterapia domiciliar
            </h3>
            <p class="text-gray-600 mb-8">
              A fisioterapia domiciliar permite ao profissional atender, tratar e reabilitar o paciente em sua própria residência, respeitando suas necessidades e condições patológicas. Esse um ótimo recurso para quem tem algum tipo de dificuldade de deslocamento.
            </p>       
          </div>
        </div>
        <div class="w-full sm:w-1/2 p-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/home.webp" alt="Fisioterapia domiciliar"/>
        </div>
      </div>

      <div class="flex flex-wrap flex-col-reverse sm:flex-row">
        <div class="w-full sm:w-1/2 p-6 mt-6">
          <img class="w-full sm:h-64 mx-auto rounded-lg" src="assets/images/services/drenagem.webp" alt="Drenagem linfática"/>
        </div>
        <div class="flex justify-center items-center w-full sm:w-1/2 p-6 mt-6">
          <div class="align-middle">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-6">
              Drenagem linfática
            </h3>
            <p class="text-gray-600 mb-8">
              A drenagem linfática é uma técnica que trabalha o sistema linfático, ajudando o corpo a eliminar o excesso de líquidos e toxinas. Combate a celulite, edemas, inchaços, é usado como tratamento complementar a cirurgias e até na recuperação de lesões musculares e articulares. Favorece a cicatrização e melhora a circulação sanguínea.            </div>
        </div>
      </div>
    </div>
</section>